# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env.local

# Streamlit Secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Database
*.db
*.sqlite3

# Supabase
supabase/.temp/